html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --silver: #aabdac;
  --green: #0bce25;
  --solidblack: #000000;
  --pink: #d61770;
  --different-pink: #ff00ff;
  --some-blue: #375acf;
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 2rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
html {
  background-color: var(--pink);
}
.title {
  background-color: var(--some-blue);
  border-width: 1.5rem;
  border-color: var(--solidblack);
  text-align: center;
  padding: 3rem;
  color: var(--different-pink);
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background-color: var(--green);
  text-align: center;
  width: 19%;
  border-width: 1.5rem;
  border-style: outset;
  border-color: var(--some-blue);
  margin: 3%;
  max-height: 60rem;
}
.text {
  padding: 1rem;
  max-height: 30rem;
  overflow-y: auto;
}
.card img {
  margin-bottom: 20%;
  width: initial;
  margin: 5%;
  outline: var(--silver) 1rem;
}

/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type="text"]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 25px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}
#searchBar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 10px 10px;
  font-size: 12px;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: "🔍";
  position: absolute;
  top: 7px;
  right: 15px;
}
