html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --white: #fbfbfb;
  --light-grey: #716969;
  --dark-grey: #2d2e2e;
  --black: #0f0f0f;
  --blue: #375acf;
  --gold: #d5a021;
  /*Inentions*/
  --primary: var(--light-grey);
  --secondary: var(--dark-grey);
  --tertiary: var(--white);
  --quartern: var(--blue);
  --quintan: var(--gold);
  /*Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
html {
  background-color: var(--primary);
}
.header {
  background-color: var(--secondary);
  text-align: center;
  padding: 1rem;
  text-shadow: 0 0.25rem var(--black);
  color: var(--quartern);
  border-style: none none ridge none;
  border-width: 2rem;
  border-color: var(--quartern);
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background-color: var(--quintan);
  width: 30%;
  text-align: center;
  border-width: 1rem;
  border-style: inset;
  width: 25%;
  overflow-y: clip;
  text-align: center;
  border-width: 1rem;
  max-height: 60rem;
  border-style: inset;
  border-color: var(--quartern);
  margin: 3%;
}
.text {
  padding: 1rem;
  max-height: 30rem;
  overflow-y: auto;
}
.card img {
  margin-bottom: 5%;
  width: inherit;
  margin: 1%;
}
.description {
  height: 100%;
}
